@use 'base/variables' as v;
@use 'base/mixins' as m;

.navegacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 100%;

    @include m.desktop {
        width: auto;
        flex-direction: row;
    }

    &__link {
        font-size: 2rem;
        font-weight: 700;
        color: v.$negro;
        text-decoration: none;
        transition: transform 0.3s;


        &:hover {
            transform: scale(1.1, 1.1);
            text-shadow: rgba(85,251,154,0.9) 0px 0px 39px;
        }

        &.navegacion__link--registrar {
            @include m.boton(v.$primario, v.$negro);
            transition: transform 0.3s;
        }
    }
}